$primary: rgb(153, 41, 218);
$primary-hover: rgb(123, 69, 155);
$secondary: rgb(90, 114, 248);
$secondary-hover: rgb(126, 136, 192);
$success: #28a745;
$error: #dc3545;
$warning: #ffc107;
$info:rgb(107, 231, 241);
$light: #f8f9fa;
$dark: #343a40;

$snackbar-bg: #323232;
$snackbar-text: white;
