@import '../../styles/colors.scss';

@mixin snackbar-styles {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: $snackbar-text;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 16px;
    text-align: center;
  }

.snackbar{
    @include snackbar-styles;
    background-color: $snackbar-bg;
}

.snackbar-success{
    @include snackbar-styles;
    background-color: $success;
}

.snackbar-error{
    @include snackbar-styles;
    background-color: $error;
}